.vs/
x64/
Debug/
Release/
*.vcxproj.filters
*.vcxproj.user
*.VC.opendb
*.VC.db
__pycache__/
simu/mac-phy-simu.exe
simu/simu.exe
simu/simu.sdf
simu/simu.opensdf
simu/obj/*.o
FEC_data/FEC_data.exe
FEC_data/FEC_data.sdf
FEC_data/FEC_data.opensdf
FEC_data/obj/*.o
